<header class="nav">
  <div class="nav__inner">

    <a routerLink="/movies" class="nav__logo">
      CINEMAVERSE
    </a>

    <nav class="nav__links">
      <a
        routerLink="/movies"
        routerLinkActive="nav__link--active"
        class="nav__link">
        Movies
      </a>

      <a
        routerLink="/bookings"
        routerLinkActive="nav__link--active"
        class="nav__link">
        My Bookings
      </a>

      <a
        routerLink="/tickets"
        routerLinkActive="nav__link--active"
        class="nav__link">
        My Tickets
      </a>
    </nav>

    <button type="button" class="nav__profile">
      <i class="pi pi-user"></i>
      <span>Profile</span>
    </button>

  </div>
</header>
