<header class="cinema-nav">
  <div class="cinema-nav__container">

    <a routerLink="/movies" class="cinema-nav__logo">
      CINEMAVERSE
    </a>

    <nav class="cinema-nav__menu">
      <a
        routerLink="/movies"
        routerLinkActive="cinema-nav__link--active"
        class="cinema-nav__link">
        Movies
      </a>

      <a
        routerLink="/bookings"
        routerLinkActive="cinema-nav__link--active"
        class="cinema-nav__link">
        My Bookings
      </a>

      <a
        routerLink="/tickets"
        routerLinkActive="cinema-nav__link--active"
        class="cinema-nav__link">
        My Tickets
      </a>
    </nav>

    <div class="cinema-nav__profile">
      <button type="button" class="cinema-nav__profile-btn">
        <i class="pi pi-user"></i>
        <span>Profile</span>
      </button>
    </div>

  </div>
</header>
