:host {
  display: block;
}

.now-showing {
  background: var(--cinema-bg);
}

.now-showing__container {
  width: min(92%, 90rem);
  margin-inline: auto;
  padding-block: clamp(3rem, 8vw, 6rem);
}

.now-showing__grid {
  display: grid;
  
  /* grid-template-columns: repeat(4, 1fr);
  gap: clamp(0.75rem, 2.5vw, 1.5rem); */
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: clamp(1rem, 2.5vw, 1.5rem);
}

@media (max-width: 480px) {
  .now-showing__container {
    width: 94%;
    padding-block: 2rem;
  }

  .now-showing__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .now-showing__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .now-showing__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
